.culture-event {
  &__title {
    h1 {
      font-size: 3.2rem;
    }
  }

  &__item {
    border: 1px solid transparent;
  }
  &__item:hover {
    border: 1px solid #dfdfdf;
    transition: all ease 0.3s;
  }

  &__img-item {
    img {
      max-width: 310px;
      width: 25vw;
    }
  }

  &__title-item {
    h1 {
      font-size: 1.6rem;
      font-weight: 700;
      text-align: justify;
      cursor: pointer;
    }

    h1:hover {
      color: var(--red);
      transition: all ease 0.5s;
    }
  }

  &__desc-item {
    p {
      //key: multiline truncation
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      //   white-space: nowrap; //=> không xuống dòng
      overflow: hidden; // => ẩn nội dung bị thừa
      text-overflow: ellipsis; //=> thêm dấu ... đằng sau
      text-align: justify;
      font-weight: 100;
      color: var(--black);
      font-size: 14px;
    }
  }

  &__more-btn {
    color: var(--bgr-red);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }

  &__btn-see-animation {
    button {
      width: 350px;
      height: 70px;
      background-color: var(--bgr-black);
      color: var(--white);
      font-size: 2rem;
      font-weight: 700;
    }

    button:hover {
      background-color: var(--bgr-red);
      border: none;
      cursor: pointer;
      transition: all ease 0.5s;
    }
  }
}

@media screen and (max-width: 992px) {
  .culture-event {
    &__title-item {
      h1 {
        font-size: 1.4rem;
      }
    }

    &__desc-item {
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .culture-event {
    &__content {
      gap: 30px;
    }

    &__img-item {
      img {
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}
