.working-environment-wrapper {
  margin-bottom: 50px;
}

.working-environment-title {
  h1 {
    font-size: 3.2rem;
  }
}

.working-environment {
  &__left-item {
    gap: 20px;
    p {
      line-height: 1.5;
      font-size: 16px !important;
      text-align: justify;
      margin: 20px;
    }
  }

  &__check-icon {
    border: 6px solid #f6f6f6;
    border-radius: 100%;
    i {
      color: var(--red);
      font-size: 45px;
    }
  }

  &__right-grp {
    img {
      width: 40vw;
    }

    button {
      width: 30vw;
      max-width: 430px;
      height: 65px;
      border-radius: 16px;
      background-color: var(--bgr-black);
      color: var(--white);
      font-size: 18px;
      font-weight: 600;
      bottom: 30px;
      right: 80px;
      cursor: pointer;
    }

    button:hover {
      background-color: var(--bgr-red);
      color: var(--white);
      border: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .working-environment-title {
    margin-bottom: 30px;
  }
  .working-environment {
    &__left-item {
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .working-environment {
    &__left-grp {
      display: block;
    }

    &__right-grp {
      img {
        width: 100%;
      }
      button {
        bottom: 20px;
        right: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
