.footer-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  border-top: 1px solid #dfdfdf;
}

.footer {
  padding: 100px 30px 30px;
  max-width: 1200px;
  width: 100%;

  &__item {
    position: relative;
  }

  &__item-title {
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__item-title::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(176, 176, 176, 0.2);
    position: absolute;
    top: -15px;
    left: -20px;
  }

  &__section1 {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 20px;
    grid-auto-rows: minmax(180px, auto);
    img {
      width: 154px;
      height: 52px;
      cursor: pointer;
    }
  }

  &__item-7 {
    // ăn theo grid-line
    grid-column-start: 3;
    grid-column-end: 5;
  }

  &__section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-top: 1px solid #dfdfdf;
    padding: 50px 0;
  }

  &__certificate-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    img {
      cursor: pointer;
    }
  }

  &__certificate {
    p {
      color: #949ba4;
      line-height: 1.8;
      margin-bottom: 10px;
      text-align: justify;
      font-size: 14px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  &__social-network-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    i {
      font-size: 30px;
      cursor: pointer;
      color: #8d8d8d;
    }
    i:hover {
      color: #c1c1c1;
    }
    img {
      width: 60px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__item-7 {
    li:hover {
      text-decoration: none;
      cursor: text;
    }
  }
}

ul {
  color: #949ba4;
  li {
    list-style: none;
    line-height: 1.8;
    color: #949ba4;
    line-height: 2.5;
    font-size: 14px;
  }
  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__section1 {
      display: flex;
      flex-direction: column;
    }

    &__section2 {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    &__social-network-grp {
      i {
        font-size: 30px;
        cursor: pointer;
        color: #8d8d8d;
      }
      i:hover {
        color: #c1c1c1;
      }
      img {
        width: 60px;
        height: 20px;
      }
    }
  }
}
