.footer-wrapper {
  background-color: #f7f7f7;
  border-top: 1px solid #dfdfdf;
}

.footer {
  padding: 100px 30px 30px;
  max-width: 1200px;
  width: 100%;

  &__item-title {
    font-size: 16px;
  }

  &__item-title::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(176, 176, 176, 0.2);
    position: absolute;
    top: -15px;
    left: -20px;
  }

  &__section1 {
    margin-bottom: 50px;

    img {
      width: 154px;
      height: 52px;
      cursor: pointer;
    }
  }

  &__section2 {
    border-top: 1px solid #dfdfdf;
    padding: 50px 0;
  }

  &__certificate-grp {
    img {
      cursor: pointer;
    }
  }

  &__certificate {
    p {
      color: #949ba4;
      line-height: 1.8;
      margin-bottom: 10px;
      text-align: justify;
      font-size: 14px;
    }
  }

  &__social-network-grp {
    i {
      font-size: 30px;
      cursor: pointer;
      color: #8d8d8d;
    }
    i:hover {
      color: #c1c1c1;
    }
    img {
      width: 60px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__list-item {
    list-style: none;
    color: #949ba4;
    line-height: 2.5;
    font-size: 14px;
  }

  &__list-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__item-7 {
    li:hover {
      text-decoration: none;
      cursor: text;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__social-network-grp {
      i {
        font-size: 30px;
        cursor: pointer;
        color: #8d8d8d;
      }
      i:hover {
        color: #c1c1c1;
      }
    }
  }
}
