.header-wrapper {
  height: 120px;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  background-color: #fff;
  z-index: 1000;
}

.header {
  max-width: 1140px;
  height: 120px;

  &__logo {
    img {
      width: 120px;
      height: 40px;
      cursor: pointer;
    }
  }

  &__navigation {
    li {
      border: 5px solid transparent;
      font-size: 14px;
      a {
        color: var(--black);
      }
    }

    li:hover a::before {
      display: block;
    }

    li:hover a {
      cursor: pointer;
      color: var(--red);
      transition: all ease 0.5s;
    }
  }

  &__nav-list {
    a::before {
      display: none;
      content: "";
      width: 50%;
      height: 6px;
      background-color: var(--bgr-red);
      border-radius: 20px;
      position: absolute;
      top: -12px;
      left: 25%;
    }
  }

  &__languages {
    ul {
      li {
        border: 1px solid transparent;
        font-size: 14px;
        color: var(--black);
      }
    }
    li:hover {
      cursor: pointer;
      border-radius: 5px;
      color: var(--red);
      border: 1px solid var(--red);
      transition: all ease 0.5s;
    }
  }

  &__bars {
    i {
      font-size: 40px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__bars {
      cursor: pointer;
      top: 40px;
      right: 20px;
    }

    &__bars::before {
      position: absolute;
      content: "";
      display: block;
      width: 200%;
      top: 0;
      right: -20px;
      height: 80px;
    }

    &__navigation {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 120px;
      left: 0;
      right: 0;
      box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);

      li {
        width: 100%;
      }

      li:hover {
        background-color: #c01111;
        transition: all ease 0.5s;
        a {
          color: var(--white);
        }
        a::before {
          display: none;
        }
      }
    }

    &__nav-grp:hover &__navigation {
      display: block;
      transition: all ease 0.5s;
    }
  }
}
